#castleImg{
  max-width: 500px;
  vertical-align: middle;
}

#messageBox{
  max-width: 50%;
}

#heartIcon{
  width: 1em;
  height: 1em;
}

#whiteSpace{
  min-height: 25px;
}

.center{
  margin:auto;
}